@{
    ViewData["Title"] = "Home Page";
}

<div id="card"></div>
<div>
    <label>Choose mark</label>
    <select>
        <option value="0">0</option>
        <option value="1">1</option>
    </select>
    <input type="button" value="To vote" />
    <input type="button" value="Reset"/>
</div>