@model PlanningPoker.ViewModels.CardViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Cards</h2>

<br/>
@using (Html.BeginForm("CardResult", "Card"))
{
    <div>
        <div class="form-group">
            <label class="control-label col-sm-2">Choose card</label>
            <select name="card" class="form-control">
                @foreach (var i in Model.Cards)
                {
                    <option value="@i.Name">@i.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Choose mark</label>
            <select name="mark" class="form-control">
                @foreach (var i in Model.Marks)
                {
                    <option value="@i.mark">@i.mark</option>
                }
            </select>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="submit" value="See resoult" class="btn btn-default"/>
            <input type="submit" name="edit" value="Add card" class="btn btn-default"/>
        </div>
    </div>
}



